{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Section Start -->
<div class="main-section pt-5">
    <div class="page-section">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="fa fa-shopping-cart text-danger"></i>Billing Address</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                    
                                
                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        <form action="{% url 'place_order' %}" method="POST">
                                            {% csrf_token %}

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    First Name: {{ form.first_name }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Last Name: {{ form.last_name }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Phone Number: {{ form.phone }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Email Address: {{ form.email }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-12 col-sm-12 col-lg-12">
                                                    Address: {{ form.address }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Country: {{ form.country }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Devision: {{ form.devision }}
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    City: {{ form.city }}
                                                </div>
                                                <div class="form-group col-md-6 col-sm-12 col-lg-6">
                                                    Pin Code: {{ form.pin_code }}
                                                </div>
                                            </div>

                                        
                                        
                                        
                                    </div>

                                  
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <!-- Your order section -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i class="icon- icon-room_service"></i>Your Order</a></li>
                            
                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">

                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                        
                                        <ul>

                                            
                                                {% for item in cart_items %}
                                                <li id="cart-item-{{item.id}}" style="display: flex; align-items: center; padding: 12px 0; border-bottom: 1px solid #f0f0f0; gap: 15px;">
                                                    <div class="image-holder" style="flex-shrink: 0;"> 
                                                        <img src="{{ item.fooditem.image.url }}" alt="" style="width: 60px; height: 60px; object-fit: cover; border-radius: 4px;">
                                                    </div>
                                                    <div class="text-holder" style="flex: 1; min-width: 0;">
                                                        <h6 style="margin-bottom: 4px;">{{ item.fooditem }}</h6>
                                                        <span style="font-size: 12px; color: #666;">{{ item.fooditem.description }}</span>
                                                        <br>
                                                        <a href="{% url 'vendor_detail' item.fooditem.vendor.vendor_slug %}" class="badge badge-warning" style="margin-top: 4px; display: inline-block;">{{ item.fooditem.vendor }}</a>
                                                    </div>

                                                    <div class="quantity" style="flex-shrink: 0; text-align: center; min-width: 80px;">
                                                        <span style="font-weight: 600; font-size: 14px;">{{ item.quantity }}&nbsp;<small style="font-weight: normal;">QTY</small></span>
                                                    </div>
                                                    <div class="price-holder" style="flex-shrink: 0; text-align: right; min-width: 100px;">
                                                        <span class="price" style="font-weight: 600; font-size: 14px;">BDT&nbsp;{{ item.fooditem.price }}</span>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            
                                        </ul>
                                        
                                        
                                        
                                    </div>
                                    
                                    <div>
                                        <ul>
                                            <li style="list-style-type: none;">
                                                Subtotal
                                                <span class="price float-right">
                                                    <span class="currency">BDT</span>
                                                    <span id="subtotal">{{ subtotal }}</span>
                                                </span>
                                            </li>

                                            {% for key, value in tax_dict.items %}
                                                {% for i, j in value.items %}
                                                    <li style="list-style-type: none;">
                                                        {{ key }} <small>({{ i }}%)</small>
                                                        <span class="price float-right">
                                                            <span class="currency">BDT </span>
                                                            <span id="tax-{{ key }}">{{ j }}</span>
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            {% endfor %}


                                            <li style="list-style-type: none; font-weight: 600;">
                                                TOTAL
                                                <span class="price float-right">
                                                    <span class="currency">BDT</span>
                                                    <span id="total">{{ grand_total }}</span>
                                                </span>
                                            </li>

                                            <!-- Select payment method -->
                                            <h5>SELECT PAYMENT METHOD</h5>
                                            <div class="payment-method">
                                                  <label>
                                                    <input type="radio" name="payment_method" value="Bkash">
                                                    <img src="{% static 'images/Bkash-logo.png' %}" alt="Bkash" width="90">
                                                </label>
                                                <label>
                                                    <input type="radio" name="payment_method" value="PayPal">
                                                    <img src="{% static 'images/PayPal.png' %}" alt="PayPal" width="100">
                                                </label>
                                                &emsp;
                                              
                                            </div>
                                            <span class="text-danger" id="payment-method-error"></span>
                                            <!-- Select payment method -->

                                            <button onclick="return payMethodConfirm();" type="submit" class="btn btn-danger w-100 p-2 mt-3">PLACE ORDER</button>
                                        </ul>


                                        <!-- end the form -->
                                    </form>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Main Section End -->


<script>
    function payMethodConfirm(){
        var payMethod = $("input[name='payment_method']:checked").val()
        if(!payMethod){
            $('#payment-method-error').html("Select Payment Method!");
            return false;
        }else{
            var conf = confirm('You have selected '+payMethod+' as your preferred payment method.\nClick "OK" to continue.')
            if(conf == true){
                return true;
            }else{
                return false;
            }
        }
        
    }

    $('input[name=payment_method]').on('change', function(){
        $('#payment-method-error').html("");
    })
</script>

{% endblock %}