body {
    background-color: #f9f9f9;
    font-family: "Poppins", sans-serif;
}

#content {
    background: white;
    border-radius: 12px;
    padding: 30px;
    margin: 30px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.module caption {
    background: #dc3545 !important;
    color: white !important;
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px 8px 0 0;
}

a.addlink, a.changelink {
    color: #dc3545;
    font-weight: 500;
}

a.addlink:hover, a.changelink:hover {
    color: #a71d2a;
}
